body {
	font-family: Arial;
	padding: 4px;
	background: #f1f1f1;
}

.columna-der {
	float: right;
	width: 70%;
}

.columna-izq {
	float: left;
	width: 25%;
}

.contenido {
	background-color: #bab9b8;
	width:85%;
	padding: 20px;
	height:200px;
}
.perfil {
	border-radius: 50%;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.elemento {
	background-color: #e0dfde;
	padding: 20px;
	margin-top: 20px;
}

.columnas-muro:after {
	content: "";
	display: table;
	clear: both;
}

.boton {
	border-radius: 12px;
	border:none;
	padding: 10px 24px;
	font-size: 18px;
	color: white;
	background-color: #3B3A3A;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	cursor: pointer;
}

.botonPublicar:hover{
	cursor: pointer;
}

.comentario {
	background-color: #faf8f7;
	margin: 0px auto;
	height: 35px;
	width: 650px;
}

.comentador {
  float: left;
}

.comentador img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 800px) {
	.columna-izq, .columna-der {
		width: 100%;
		padding: 0;
	 }
}

summary {
    color: rgb(0, 0, 0);
    display: contents;
	position: relative;
}

summary:hover{
    color: #7a7a79;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.19);
    border-color: chocolate;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
}

.btn-enviar-comentario{
	background-color: #3B3A3A;
    border: none;
	color: white;
	border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	transform: translateY(-20px);
}

.btn-enviar-comentario:hover{
	background-color: #3B3A3A;
	cursor: pointer;
	transition: all;
    transition-duration: 0.2s;
}

textarea {
	resize: none;
}
  